In [1]:
#import dependencies
import pandas as pd

# Functions

In [2]:
#format a nice currency string
def pretty_money(num_float):
    text_money =     '${:,.2f}'.format(num_float)
    
    return text_money

# Operations

In [3]:
#get the file
file_path = "Resources/purchase_data.csv"

In [4]:
#read the file into data frame
main_df = pd.read_csv(file_path)

In [5]:
#output the header
main_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
#get a count of the columns
main_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [7]:
#get the column names
main_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [8]:
#view some stats
main_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

# Player Count

In [9]:
#get a count of the total player base
total_player_count = main_df["SN"].count()
print(total_player_count)

780

# Purchasing Analysis (Total)

In [ ]:
#number of unique items
###unique_items = main_df["Item ID"].unique()
###unique_items
#put the itmes in a dataframe to get stats
##ui_df = pd.DataFrame(unique_items)
#rename the column so it doesnt read '0'
##ui_df = ui_df.rename(columns={0:"Item Name"})
#display headers
##ui_df.head(2)
#put the count into a variable
##unique_item_count = ui_df.count()
##print(unique_item_count)

In [10]:
#this accomplishes the same as above without the extra overhead
#same result
unique_item_count = len(main_df["Item ID"].value_counts())
print(unique_item_count)

183

In [11]:
#total purchase values
total_values_num = main_df["Price"].sum()
print(total_values_num)

2379.77

In [12]:
#average item price
average_item_price = main_df["Price"].mean()
average_item_price = round(average_item_price,2)
print(average_item_price)

3.05

In [13]:
#the total number of purchases is equal to the number of records in the database
#since there is only 1 entry per player in the provided data, we must conclude that there is no way to track how many purchases
#the player has made
purchases_count = total_player_count
print(purchases_count)

780

In [14]:
purchasing_summary_df = pd.DataFrame({"Number of Unique Items": unique_item_count
                          ,"Average Price": pretty_money(average_item_price)
                          ,"Number of Purchases": purchases_count
                          ,"Total Revenue": pretty_money(total_values_num)                            
                                    }, index=[0])
purchasing_summary_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [15]:
#new_df = main_df.sort_values(["Price"], ascending=[0])
#new_df
#main_df["Age"].sort_values(ascending=True).value_counts()
#https://stackoverflow.com/questions/16947336/binning-a-dataframe-in-pandas-in-python
#46- Pandas DataFrames: Finding Min/Max Element    https://www.youtube.com/watch?v=C8sPV25PCs0

#find the min / max age to make bins 
#7 and 45, so use 5 - 50 for bins
min_age_index = main_df["Age"].idxmin()
min_age = main_df["Age"][min_age_index]
print(min_age)

max_age_index = main_df["Age"].idxmax()
max_age = main_df["Age"][max_age_index]
print(max_age)

7
45

In [16]:
#dropping columns
#main_df = main_df.drop("age_bin",1)
#main_df = main_df.drop("Age Buckets",1)

main_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [17]:
bins_age = [0, 10, 20, 30, 40, 50]
bins_labels = ["<10", "10-20", "20-30", "30-40", "40-50"]

In [33]:
copymain_df = main_df
bins_df = pd.DataFrame(copymain_df)
bins_df["Age Buckets"] = pd.cut(bins_df["Age"], bins_age, labels=bins_labels)
bins_df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,age_bin,Age Buckets
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 - 24,10-20
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,> 40,30-40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 - 24,20-30
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 - 24,20-30
4,4,Iskosia90,23,Male,131,Fury,1.44,20 - 24,20-30

In [32]:
#use https://www.statcan.gc.ca/eng/concepts/definitions/age2
#               Age Categories, Life Cycle Groupings

#main_df.drop("AGEBUCKETS",1)
#main_df = main_df.drop("Age Buckets",1)
main_df.head(2)
groupage_df = pd.DataFrame(main_df.groupby('age_bin')['SN'].count())
groupage_df

          SN
age_bin
10 - 14   28
15 - 19  136
20 - 24  365
25 - 29  101
30 - 34   73
35 - 39   41
< 10      23
> 40      13

In [ ]:
test_df = main_df
#test_df.loc[test_df["Age"]>=35]
main_df = main_df.drop("AGEBUCKETS",1)
main_df.head(3)

In [ ]:
new_df = pd.DataFrame(main_df)
new_df.head(2)

In [ ]:
age_group = new_df.groupby("Age")
age_group.head()

In [21]:
pur_data = pd.DataFrame(main_df)
#creates a column 'age_bin' based on conditional of age range
pur_data.loc[(pur_data['Age'] < 10), 'age_bin'] = "< 10"
pur_data.loc[(pur_data['Age'] >= 10) & (pur_data['Age'] <= 14), 'age_bin'] = "10 - 14"
pur_data.loc[(pur_data['Age'] >= 15) & (pur_data['Age'] <= 19), 'age_bin'] = "15 - 19"
pur_data.loc[(pur_data['Age'] >= 20) & (pur_data['Age'] <= 24), 'age_bin'] = "20 - 24"
pur_data.loc[(pur_data['Age'] >= 25) & (pur_data['Age'] <= 29), 'age_bin'] = "25 - 29"
pur_data.loc[(pur_data['Age'] >= 30) & (pur_data['Age'] <= 34), 'age_bin'] = "30 - 34"
pur_data.loc[(pur_data['Age'] >= 35) & (pur_data['Age'] <= 39), 'age_bin'] = "35 - 39"
pur_data.loc[(pur_data['Age'] >= 40), 'age_bin'] = "> 40"
#double checked count
# pur_data[['age_bin', 'Age']].count()

# counts purchases by age bin by counting screen names (non-unique)
pur_count_age = pd.DataFrame(pur_data.groupby('age_bin')['SN'].count())
#finds avg price of purchases by age bin
avg_price_age = pd.DataFrame(pur_data.groupby('age_bin')['Price'].mean())
#finds total purchase value by age bin
tot_pur_age = pd.DataFrame(pur_data.groupby('age_bin')['Price'].sum())
#deletes multiple occurances of SN while only keeping last, then counts # of unique
#players by age bin
no_dup_age = pd.DataFrame(pur_data.drop_duplicates('SN', keep = 'last').groupby('age_bin')['SN'].count())
#merges all info from above into one df
merge_age = pd.merge(pur_count_age, avg_price_age, left_index = True, right_index = True).merge(tot_pur_age, left_index = True, right_index = True).merge(no_dup_age, left_index = True, right_index = True)

In [31]:
#pur_count_age
avg_price_age
#merge_age

            Price
age_bin
10 - 14  2.956429
15 - 19  3.035956
20 - 24  3.052219
25 - 29  2.900990
30 - 34  2.931507
35 - 39  3.601707
< 10     3.353478
> 40     2.941538